{% extends "base.html" %}
{% block content %}
    <br>
        <div class = "row mx-5">
        <div class = "col-md-12 text-center mb-5"><h3>Multiplayer Online Battle Arena (MOBA)</h3></div>
        <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/league.jpg')}}" class="card-img-top" alt="League-of-Legends">
                <div class="card-body" style="color:black;">
                    <h5 class="card-title">League of Legends</h5>
                    <a href="/view/League of Legends" class="btn btn-secondary">Player Reviews</a>
                </div>
        </div>
        </div>
        <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/dota2.jpg')}}" class="card-img-top" alt="Call-of-Duty">
                <div class="card-body" style="color:black;">
                    <h5 class="card-title">Dota 2</h5>
                    <a href="/view/Dota 2" class="btn btn-secondary">Player Reviews</a>
                </div>
        </div>
        </div>
        <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/warcraft3.jpg')}}" class="card-img-top" alt="Grand-theft-auto">
                <div class="card-body" style="color:black;">
                    <h5 class="card-title">Warcraft III</h5>
                    <a href="/view/Warcraft III" class="btn btn-secondary">Player Reviews</a>
                </div>
        </div>
        </div>
        <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/smite.jpg')}}" class="card-img-top" alt="Fortnite">
                <div class="card-body" style="color:black;">
                    <h5 class="card-title">Smite</h5>
                    <a href="/view/Smite" class="btn btn-secondary">Player Reviews</a>
                </div>
        </div>
        </div>
        </div>
        <br><br>
        <div class = "row mx-5 mt-5">
        <div class = "col-md-12 text-center mb-5"><h3>Battle Royal</h3></div>
        <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/fortnite.jpg')}}" class="card-img-top" alt="Minecraft">
                <div class="card-body" style="color:black;">
                    <h5 class="card-title">Fortnite</h5>
                    <a href="/view/Fortnite" class="btn btn-secondary">Player Reviews</a>
                </div>
        </div>
        </div>
        <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/callofduty.jpg')}}" class="card-img-top" alt="Valorant">
                <div class="card-body" style="color:black;">
                    <h5 class="card-title">Call of Duty: Warzone</h5>
                    <a href="/view/Call of Duty: Warzone" class="btn btn-secondary">Player Reviews</a>
                </div>
        </div>
        </div>
        <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/battlefield.jpg')}}" class="card-img-top" alt="It-Takes-Two">
                <div class="card-body" style="color:black;">
                    <h5 class="card-title">Battlefield V</h5>
                    <a href="/view/Battlefield V" class="btn btn-secondary">Player Reviews</a>
                </div>
        </div>
        </div>
        <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/apex.jpg')}}" class="card-img-top" alt="Apex-Legends">
                <div class="card-body" style="color:black;">
                    <h5 class="card-title">Apex Legends</h5>
                    <a href="/view/Apex Legends" class="btn btn-secondary">Player Reviews</a>
                </div>
        </div>
        </div>
        </div>
        <br><br>
{% endblock %}
