{% extends "base.html" %}
{% block content %}
<br><br>
<div class="mx-5">
<h1>{{page_name}}</h1>
<tt>{{ page_content | safe}}</tt>
<br>
<br>
<a href="{{ url_for('edit',page_id=page_name) }}" type="button" style="margin-right: 12px;">Edit content</a>
<a href="{{ url_for('get_history',page_id=page_name) }}" type="button">Content history</a>
</div>
{% endblock %}
